@use '../base/variables' as v;
@use '../base/mixins' as m;

.video{
    position: relative;

    .overlay{
        position: absolute;
        
        height: 100%;
        width: 100%;
    }

    video{
        width: 100%;
    }
}